{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "plugins": ["cypress"],
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "spaced-comment": "off"
  }
}
