{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "plugins": ["chai-friendly", "cypress"],
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "spaced-comment": "off",
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  }
}
