{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "plugins": ["chai-friendly"],
  "env": {
    "browser": true
  },
  "globals": {
    "cy": false,
    "Cypress": false,
    "describe": false,
    "context": false,
    "beforeEach": false,
    "afterEach": false,
    "it": false,
    "assert": false,
    "expect": false
  },
  "rules": {
    "spaced-comment": "off",
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  }
}
